<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <title>Welcome</title>
</head>
<body>
  <div class="form-container">
    <h2>Welcome to Our Cute Site 💖</h2>
    <p>Let’s get you started, baby!</p>
    <a href="/register"><button>Go to Register</button></a>
  </div>
</body>
</html>
